.header--menu {
    @include justify-center;
    position: absolute;
    background-color: $purple2;
    width: 100%;
}

.header--img {
    position: relative;
    top: 0;
    left: 0;
}

@media(min-width: 786px) {}