@import '../components/inputForm';
@import '../components/buttons';

.newProduct--form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}

.form--nameOfTheNewProduct {
    @include form--input;
}

.form--actionBtns {
    display: flex;
    justify-content: space-evenly;

    & input[type=submit] {
        @include btn;
    }

    & input[type=reset] {
        @include btn;
    }

    & input[type=file] {
        @include btn;
    }
}

.btn--ligth {
    @include btn--dark;
}

.btn--dark {
    @include btn--ligth;
}